@font-face {
    font-family: "Pixel";
    src: url("fonts/04b_03__.ttf");
}

@font-face {
    font-family: "Crafter";
    src: url("fonts/minecrafter.reg.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    font-size: 1rem;

    min-height: 100vh;

    background: linear-gradient(to bottom, var(--background) 30%, var(--primary-black) 90%);
    color: var(--text);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image:
        url('./graphics/film_grain.png');
    background-repeat: repeat;

    opacity: 0.075;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus {
    outline: none;
}

h1 {
    font-family: "Crafter", sans-serif;
    font-style: normal;
}

h2 {
    font-family: "Bungee", sans-serif;
    font-style: normal;
}

h3 {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
}

h4 {
    font-family: "Nunito Sans", sans-serif;
    font-style: oblique;
    font-weight: 600;
}

.text-accent {
    background: linear-gradient(to right, var(--correct) -10%, var(--primary) 65%);
    background-clip: text;
    color: transparent;
    position: relative;
    top: -1px;
}
