@media (max-width: 68rem) {
    .logo {
        font-size: clamp(3rem, 10vw, 6rem);
    }

    .links {
        width: 100%;
        justify-content: space-evenly;
        padding-inline: 1rem;
    }

    .links a span {
        display: none;
    }

    .separator {
        color: var(--ghost);
        margin-inline: 0.125rem;
    }
}
