    .mobile-menu {
        display: none;
    }

    @media (max-width: 68rem) {

        .logo {
            font-size: clamp(3rem, 12vw, 6rem);
        }

        .links {
            width: 100%;
            flex-direction: column;
            font-size: clamp(1.5rem, 6.4vw, 5rem);
        }

        .mobile-menu {
            display: block;
        }

        .show {
            display: flex;
        }

        .hide {
            display: none;
        }

        .separator {
            display: none;
        }
    }
