@media (max-width: 1088px) {
    .logo {
        font-size: clamp(3rem, 10vw, 6rem);
    }

    .links {
        width: 100%;
        justify-content: space-evenly;
        padding-inline: 1rem;
    }

    .links a span {
        display: none;
    }
}
