@using BlazorBootstrap
@inject NavigationManager Nav

<header class="topbar">
    <div class="topbar-container" id="game-top">

        <h1 class="logo">QSMP<span class="text-accent">DLE</span></h1>

        <nav class="links">

            @for (var i = 0; i < NavigationItems.Items.Length; i++)
            {
                var item = NavigationItems.Items[i];

                <NavLink href="@item.Url">
                    @item.Label
                </NavLink>

                @if (i < NavigationItems.Items.Length - 1)
                {
                    <span class="separator">•</span>
                }
            }

        </nav>

    </div>
</header>

<style>
    .topbar {
        display: block;
        padding-top: 2rem;
    }

    .topbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        font-size: 5rem;
        line-height: 1em;
        color: var(--text);
    }

    .logo::before,
    .logo::after {
        content: 'III';
        overflow: hidden;
        user-select: none;
    }

    .logo::before {
        background: linear-gradient(to right, transparent 20%, var(--ghost) 225%);
        background-clip: text;
        color: transparent;
    }

    .logo::after {
        background: linear-gradient(to left, transparent 20%, var(--tint) 225%);
        background-clip: text;
        color: transparent;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .08em;
    }

    .links a {
        color: var(--ghost);

        display: flex;
        align-items: center;
        gap: .25em;

        transition: .15s ease;
    }

    .links a:hover,
    .links a.active {
        color: var(--white);
    }

    .separator {
        color: var(--ghost);
        margin-inline: 0.75rem;
    }
</style>

@code {
    public static class NavigationItems
    {
        public static readonly NavItem[] Items =
        [
            new("/", "Daily", IconName.House),
            new("/practice", "Practice", IconName.Controller),
            new("/how-to-play", "How to Play", IconName.Search),
        ];
    }

    public record NavItem(string Url, string Label, IconName Icon = IconName.None);
}
