.mobile-guesses {
    display: none;
}

@media (max-width: 68rem) {

    .mobile-guesses {
        display: flex;
        flex-direction: column-reverse;
        gap: .75rem;
    }
}

.opacity-1 {
    opacity: 1.00;
}

.opacity-2 {
    opacity: 0.75;
}

.opacity-3 {
    opacity: 0.55;
}

.opacity-4 {
    opacity: 0.32;
}

.opacity-5 {
    opacity: 0.20;
}

.opacity-6 {
    opacity: 0.14;
}
