@page "/"
@using QSMPDLE.Web.Components.Game
@using QSMPDLE.Web.Features.Gameplay.Models
@using QSMPDLE.Web.Features.Statistics.Services

@inject IStatisticsService StatisticsService

<PageTitle>Daily Game - QSMPDLE</PageTitle>

<h2>DAILY CHARACTER<span class="separator">|</span>#@DailyNumber.ToString("00")</h2>

<Gameplay GameMode="GameMode.Daily" GameStateChanged="OnGameStateChange" />

<style>
    h2 {
        margin-top: 2.75rem;
    }

    .separator {
        color: var(--tint);
    }
</style>

@code {
    private int DailyNumber = 0;

    private async Task OnGameStateChange(GameState gameState)
    {
        DailyNumber = gameState.Game.DayNumber ?? 0;
    }
}

