@page "/"
@using MudBlazor
@using QSMPDLE.Web.Components.Game
@using QSMPDLE.Web.Features.Gameplay.Models
@using QSMPDLE.Web.Features.Statistics.Services

@inject IStatisticsService StatisticsService

<PageTitle>Daily Game - QSMPDLE</PageTitle>

@if (!IsGameLoaded)
{
    <h2><MudSkeleton SkeletonType="SkeletonType.Text" Width="25rem" Height="2.375rem" /></h2>
}
else 
{
    <h2>DAILY CHARACTER<span class="separator">|</span>#@DailyNumber.ToString("00")</h2>
}

<Gameplay GameMode="GameMode.Daily" GameStateChanged="OnGameStateChange" GameLoaded="OnGameLoaded" />

<style>
    h2 {
        margin-top: 2.75rem;
    }

    .separator {
        color: var(--tint);
    }
</style>

@code {
    private int DailyNumber = 0;
    private bool IsGameLoaded = false;

    private async Task OnGameStateChange(GameState gameState)
    {
        DailyNumber = gameState.Game.DayNumber ?? 0;
    }

    private async Task OnGameLoaded()
    {
        IsGameLoaded = true;
    }
}

