@page "/how-to-play"
@using BlazorBootstrap
@using MudBlazor
@using QSMPDLE.Web.Components.UX
@using QSMPDLE.Web.Features.Gameplay.Models

<WebPage>

    <h2>How to Play</h2>

    <p class="info">
        Last updated: June 2026
    </p>

    <MudAlert Severity="Severity.Success" Dense="true" Variant="Variant.Outlined" Class="mb-6">
        <strong>TL;DR:</strong> Guess today's QSMP2 character in 6 attempts.
    </MudAlert>


    <section class="mb-5">
        <h3>Make a Guess</h3>

        <p>
            Start typing a character name and select one from the list.
        </p>

        <p>
            After every guess, each attribute is compared with the hidden character.
        </p>
    </section>

    <section class="mb-5">
        <div class="example-wrapper">
            <table class="guess-table mx-auto">
                <thead>
                    <tr>
                        <th>Character</th>
                        <th>
                            <MudTooltip Text="Including 'Any'">
                                <span class="header-with-icon">
                                    Pronouns
                                    <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Small" />
                                </span>
                            </MudTooltip>
                        </th>
                         <th>
                            <MudTooltip Text="'Human', 'Not Human' or 'Unknown'">
                                <span class="header-with-icon">Species
                                    <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Small" />
                                </span>

                            </MudTooltip>
                        </th>
                        <th>Languages</th>
                        <th>Affiliations</th>
                        <th>Joined</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="answer-row">
                        <td class="small-cell">
                            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                <MudAvatar Square="true" Size="Size.Large">
                                    <MudImage Src="/graphics/mini-heads/FitMC.webp" />
                                </MudAvatar>
                                <span>FitMC</span>
                            </MudStack>
                        </td>

                        <td class="small-cell">
                            <GuessChip Result="ComparisonResult.Wrong">
                                He/Him
                            </GuessChip>
                        </td>

                        <td class="small-cell">
                            <GuessChip Result="ComparisonResult.Correct">
                                Human
                            </GuessChip>

                        </td>

                        <td class="small-cell">
                            <GuessChip Result="ComparisonResult.Less">
                                4+ (5)
                            </GuessChip>
                        </td>

                        <td class="small-cell">
                            <GuessChip Result="ComparisonResult.Partial">
                                The Regime
                            </GuessChip>
                        </td>

                        <td class="small-cell">
                            <GuessChip Result="ComparisonResult.Later">
                                Day 1
                            </GuessChip>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="guess-card">

                <div class="guess-card-header">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart" Spacing="2">
                        <MudAvatar Square="true" Size="Size.Large">
                            <MudImage Src="/graphics/mini-heads/FitMC.webp" />
                        </MudAvatar>

                        <span class="guess-name">FitMC</span>
                    </MudStack>
                </div>

                <div class="guess-card-grid">

                    <GuessChip Result="ComparisonResult.Wrong">
                        He/Him
                    </GuessChip>

                    <GuessChip Result="ComparisonResult.Correct">
                        Human
                    </GuessChip>


                    <GuessChip Result="ComparisonResult.Less">
                        Languages: 3+ (5)
                    </GuessChip>


                    <GuessChip Result="ComparisonResult.Partial">
                        The Regime
                    </GuessChip>

                    <GuessChip Result="ComparisonResult.Later">
                        Day 1
                    </GuessChip>

                </div>
            </div>
        </div>

        <div>
            <p>
                <MudChip T="string" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="color">
                    <strong>Green</strong>
                </MudChip>
                means an exact match.
            </p>
            <p>
                <MudChip T="string" Color="Color.Error" Variant="Variant.Filled" Size="Size.Small" Class="color">
                    <strong>Red</strong>
                </MudChip>
                means the attribute does not match at all.
            </p>
            <p>
                <MudChip T="string" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="color">
                    <strong>Sky Blue</strong>
                </MudChip>
                with an arrow indicates a value that's higher, lower, later of earlier than provided.
            </p>
            <p>
                <MudChip T="string" Color="Color.Warning" Variant="Variant.Filled" Size="Size.Small" Class="color">
                    <strong>Yellow</strong>
                </MudChip>
                means the attribute is partially correct (have at least one element of the answer).
            </p>
        </div>

    </section>

    <section class="mb-5">
        <h3>Portrait Hints</h3>

        <p>
            The portrait starts heavily blurred and becomes clearer with every guess.
            Even incorrect guesses reveal more of the image.
        </p>

    </section>

    <section class="mb-5">
        <h3>Game Modes</h3>

        <p>
            <strong>DAILY</strong> — everyone receives the same character each day.
        </p>

        <p>
            <strong>PRACTICE</strong> — play unlimited random rounds without
            affecting your daily streak.
        </p>
    </section>
</WebPage>

<style>
    .example-wrapper {
        margin-bottom: 5rem;
    }

    .guess-table {
        border-spacing: 0 .5rem;
    }

    .guess-table tr {
        height: 3rem;
    }

    .guess-table th {
        color: var(--white);
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: 600;
        height: 2rem;
    }

    .guess-table td {
        min-width: 8rem;
    }

    .guess-table td,
    .guess-table th {
        vertical-align: middle;
    }

    .header-with-icon {
        display: inline-flex;
        align-items: center;
        gap: .25rem;
    }

    .header-with-icon .mud-icon-root {
        position: relative;
        top: -1px;
    }

    .answer-row {
        user-select: none;
        border: 0.125rem solid var(--primary-black);
        box-shadow:
            0 0 0 0.125rem var(--black),
            0 .125rem .5rem var(--shadow);
        background: linear-gradient(to right, var(--primary-black) 44%, var(--shadow) 100%);
    }

    .small-cell {
        vertical-align: middle;
        width: 5rem;
    }

    @* CARD *@
    .guess-card  {
        width: 100vw;
        padding: 1rem;
        margin-inline-start: -12px;

        background:
            linear-gradient(160deg, var(--tint) -20%, var(--primary-black) 60%);

        backdrop-filter: blur(1rem);

        border-inline: none;
        box-shadow:
            0 .125rem .5rem var(--black);
    }

    .guess-card-grid  {
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

        gap: .5rem;

        margin-top: 1rem;
    }

    .guess-card-grid .mud-chip,
    .placeholder-card-grid .mud-chip {
        width: 100%;
    }

    .guess-avatar,
    .placeholder-avatar {
        width: 5rem;
        height: 5rem;

        image-rendering: pixelated;
        background: var(--ghost);
        border: 1px solid var(--ghost);
    }

    .placeholder-avatar {
        opacity: .4;
    }

    .guess-name {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: .02em;
    }

    .color {
        margin-inline-start: -.5em;
    }
</style>
